/*************** SECCION ENVIOS *******************/

.portada__envios{
    background-image: url(../img/imagenportada.jpg);
    height: 45rem;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 14px 10px rgba(0, 0, 0, 0.226);
}

.texto-envios {
    font-size: 2rem;
    font-family: $fuentePrincipal;
    color: #f7b32cce;
    margin-top: 17rem;
}

.portada__envios p {
    font-family: $fuentePrincipal;
    text-align: center;
    color: #f7b32cce;
    margin-top: 2rem;
    font-size: 20px;
}

.cartas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "card1 card2 card3 card4";
    max-width: 80rem;
    margin: 10rem auto;
    justify-items: center;
}

.card1 {
    grid-area: card1;
}
.card2 {
    grid-area: card2;
}
.card3 {
    grid-area: card3;
}
.card4 {
    grid-area: card4;
}

.img_envios {
    width: 100%;
}

.texto__carta{
    font-family: $fuenteSecundaria;
    color: white;
    padding: 0rem 1rem;
}


@mixin estilo_carta ($colorCard, $borderCard, $sombraCard) {
    background-color: $colorCard;
    box-shadow: $sombraCard;
    text-align: center;
    width: 250px;
    height: 400px;
    border-radius: $borderCard;
}

.estilo_carta {
    @include estilo_carta($color-principal, 10px , 2px 2px 10px rgba(0, 0, 0, 0.5))
}